rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      // 개발/에뮬에서만 임시 전체 허용 (필요 시 날짜 조건 추가 가능)
      allow read, write: if true;
    }
  }
}